.contenedor__items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.Loading{
    display: flex;
    align-items: center;
    color: rgb(57, 29, 83);
    justify-content: center;
    height: 300px;
    font-size: 3rem;
    border: 15px double rgb(170, 80, 150);
    border-radius: 20px;
    width: 30%;
}