

.producto__foto{
   height: 200px;
}

.contenedor__producto--foto{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor__producto{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}


.contenedor__card{
    border: 3px double rgb(208, 136, 221);
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 18px;
    width: 600px;
    text-decoration: none;
    list-style: none;
    color: black;
}

.contenedor__card:hover{
    border:solid rgb(136, 86, 145);
}