.producto__nombre{
    color: black;
    border: 1px solid red;
}

.producto__foto{
    width: 320px;
    height: 220px;
}

.contenedor__card{
    border: 3px double rgb(208, 136, 221);
    border-radius: 20px;
    padding: 10px;
    width: 340px;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}